<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <!-- 控制台输出 -->
<!--    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


<!--    &lt;!&ndash; 文件输出（按天滚动） &ndash;&gt;-->
<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>logs/app.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>-->
<!--            <maxHistory>30</maxHistory> &lt;!&ndash; 保留30天日志 &ndash;&gt;-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <logger name="com.zishanshu" level="DEBUG" additional="false" >
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="io.netty.handler.logging" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>


    <!--    <logger name="com.zishanshu" level="INFO" additional="true" >-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </logger>-->
    <!-- 根日志级别 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>